This file tells Git to ignore certain files and folders.1. Dependency foldersThese are re-downloaded using "npm install"node_modules/client/node_modules/server/node_modules/2. Secret filesNEVER upload your secrets to GitHub!.envclient/.envserver/.env*.env.local.env..local3. Build output foldersThese are re-built during deploymentdist/client/dist/4. Log filesnpm-debug.log*yarn-debug.log*yarn-error.log*5. OS files.DS_StoreThumbs.db